.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
/* @media screen and (min-width: 480px)
{grid_testimonial{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 1.5rem;

}}
@media screen and (min-width: 1200px)
{grid_testimonial{
display: grid;
grid-template-columns: repeat(6,1fr);
gap: 1.5rem;

}} */

.App{
  background-color: rgb(255,0,0,0.1);

  
}
